<%- include partials/_header %>
<% if(error) { %>
  <p><%= error %></p>
<% } else { %>
<table class="table">
  <% if(loggedIn) { %>
  <tr>
    <td class="col-md-2">Date Created</td>
    <td class="col-md-4">Short URL</td>
    <td class="col-md-4">Long URL</td>
    <td class="col-md-2">Visits (Unique)</td>
    <td class="col-md-3">&nbsp;</td>
  </tr>
  <% userUrls.forEach((k, i) => { %>
    <tr>
      <td ><%= i + 1 %></td>
      <td><a href="/u/<%= k.urlID %>">http://localhost/u/<%= k.urlID %></a></td>
      <td>
        <form class="form-inline" method="GET" id="update" action="/urls/<%= k.urlID %>">
          <label for="update"><%= k.url %></label>
          <button id="update" class="btn btn-default btn-xs" type="submit">
            Update
          </button>
        </form>
      </td>
      <td>
        0
      <td>
        <form class="form-inline" method="POST" id="delete" action="/urls/<%= k.urlID %>/delete">
          <button class="btn btn-default btn-xs" id="delete" type="submit">x</button>
        </form>
      </td>
    </tr>
    <% }); %>
  <% } %>
</table>
<% } %>
<%- include partials/_footer %>