<%- include partials/_header %>
<table class="table table-striped">
  <% if(loggedIn) { %>

  <tr>
    <td>&nbsp;</td>
    <td><h4>Short URL</h4></td>
    <td><h4>Long URL</h4></td>
    <td>&nbsp;</td>
  </tr>
  <% userUrls.forEach((k, i) => { %>
    <tr>

      <td><%= i + 1 %></td>
      <td><a href="/u/<%= k %>">http://localhost:8080/u/<%= k.urlID %></a></td>
      <td>
        <form class="form-inline" method="GET" id="update" action="/urls/<%= k.urlID %>">
          <label for="update"><%= k.url %></label>
          <button id="update" class="btn btn-default btn-xs" type="submit">
            Update
          </button>
        </form>
      </td>
      <td>
        <form class="form-inline" method="POST" id="delete" action="/urls/<%= k.urlID %>/delete">
          <button class="btn btn-default btn-xs" id="delete" type="submit">x</button>
        </form>
      </td>
    </tr>
    <% }); %>
  <% } else { %>
    <td>&nbsp;</td>
    <td>Please <a href="/login">login</a> (or <a href="/register">register</a>) to continue</td>
    <td>&nbsp;</td>
  <% } %>
</table>
<%- include partials/_footer %>