<%- include partials/_header %>
<% if(error) { %>
  <p><%= error %></p>
<% } else { %>
<table class="table">
  <% if(loggedIn) { %>
  <tr>
    <td class="col-md-2">Date Created</td>
    <td class="col-md-4">Short URL</td>
    <td class="col-md-4">Long URL</td>
    <td class="col-md-2">Visits (Unique)</td>
    <td class="col-md-3">&nbsp;</td>
  </tr>
  <% userUrls.forEach((key, i) => { %>
    <tr>
      <td ><%= key.date %></td>
      <td><a href="/u/<%= key.urlID %>">http://localhost/u/<%= key.urlID %></a></td>
      <td>
        <form class="form-inline" method="GET" id="update" action="/urls/<%= key.urlID %>">
          <label for="update"><%= key.url %></label>
          <button id="update" class="btn btn-default btn-xs" type="submit">
            Update
          </button>
        </form>
      </td>
      <td>
        <%= key.visits.visits %>
        <% if(key.visits.unique) { %>
          (<%= key.visits.unique %>)
        <% } else { %>
          (0)
        <% } %>
      <td>
        <form class="form-inline" method="POST" id="delete" action="/urls/<%= key.urlID %>/delete">
          <button class="btn btn-danger btn-xs" id="delete" type="submit">&nbsp;x&nbsp;</button>
        </form>
      </td>
    </tr>
    <% }); %>
  <% } %>
</table>
<% } %>
<%- include partials/_footer %>